<!-- Footer -->
<footer>
  <div class="footer-container">
    <div class="footer-about">
      <h3>About GlowSkin</h3>
      <p>GlowSkin | Aesthetic & Cosmetology Clinic offers advanced skincare,
         wellness, and aesthetic treatments. Our expert team blends clinical care with
          comfort to help you rejuvenate, restore, and glow with confidence—because your
           beauty deserves expert attention.</p>
      <div class="social-icons">
        <a href="https://web.facebook.com/GlowSkinByDrSachee"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/glow_skin_by_dr_sachee"><i class="fab fa-instagram"></i></a>
        <a href="http://tiktok.com/@glowskin.by.dr.sachee"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
    <div class="footer-contact">
      <h3>Contact Details</h3>
      <p><i class="fas fa-phone-alt"></i> 077 451 1737</p>
      <p><i class="fas fa-envelope"></i> <a href="mailto:glowskin.bydrsachee@gmail.com">glowskin.bydrsachee@gmail.com</a></p>
      <p><i class="fas fa-map-marker-alt"></i> Vihara Mawatha, Kelaniya</p>
      <div class="google-map" data-aos="fade-up">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.902946757405!2d79.85869311477247!3d6.902210695008606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25963c14c885b%3A0x7a3463cb87b6f3f7!2sColombo%2C%20Sri%20Lanka!5e0!3m2!1sen!2sus!4v1697654321987!5m2!1sen!2sus&style=feature:landscape|color:0xf9f5f0&style=feature:water|color:0xe6e1dd&style=feature:road|color:0xd4a373&style=feature:poi|color:0xb38b59"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 GlowSkin | All rights reserved</p>
  </div>
</footer>